@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'locomotive-scroll/dist/locomotive-scroll.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

[data-scroll-container] {
  /* overflow: hidden; */
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

 [data-scroll] {
  transition: transform 0.8s ease-out;
}

[data-scroll-section-inview] {
  transform: scale(1.2) rotate(15deg);
} 

.in-view {
  opacity: 1;
  transform: translateY(0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
