@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Custom class for responsive textarea rows */
@media (min-width: 768px) {
  .md-rows-9 {
      rows: 9;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

[data-scroll-container] {
  /* overflow: hidden; */
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* Custom scrollbar for Swiper */
.swiper-scrollbar {
  width: 83% !important;
}


 [data-scroll] {
  transition: transform 0.8s ease-out;
}

[data-scroll-section-inview] {
  transform: scale(1.2) rotate(15deg);
} 

.in-view {
  opacity: 1;
  transform: translateY(0);
}

.is-inview {
  /* transition: all 0.3s ease; */
  opacity: 1;
  transform: translateY(0);
}
/* 
[data-scroll] {
  opacity: 0;
  transform: translateY(20px);
} */

.animate-me2 {
  clip-path: inset(0% 50%);
  /* opacity: 0 */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* LENIS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.parallax-element {
  transform: translate3d(0, 0, 0); /* Ensure initial transform is neutral */
}

/* styles/globals.css or styles/CustomRadioButton.module.css */
/* input[type="radio"]:checked + span {
  background-color: black;
} */


/* .before {
  position: relative;
}

.before::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 100%;
  background: red;
} */

